*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
    scroll-behavior: smooth;
}
::selection{
    color: orange;
    background-color: black;
}
body{
    background-color: rgb(11, 11, 27);
    font-family: 'Raleway', serif;
    overflow-x: hidden;
}

/* Navbar */
nav{
    position : fixed;
    top : 0;
    left : 0;
    display : flex;
    align-items : center;
    justify-content : space-between;
    width : 100%;
    padding : 20px 10%;
    font-family: "Poppins";
    z-index : 100;
}
.logo{
    display : flex;
    align-items : center;
    justify-content : center;
    flex-direction: column;
    gap : 7px;
    letter-spacing: 2px;
}
.logo img{
    height : 25px;
    width : 25px;
}
.logo div{
    color : #fff;
}
.logo div span{
    color : orange;
}
.navbar-items ul li{
    display : inline-block;
}
.navbar-items ul li:not(:last-of-type){
    margin-right : 30px;
}
nav a{
    text-decoration : none;
    color : #eee;
    position : relative;
    font-weight : bold;
}
nav a:focus{
    color : orange;
}
nav a::after{
    content : '';
    position : absolute;
    bottom : -10px;
    left : 5px;
    height : 2px;
    width : 0;
    background-color : orange;
    transition : 0.5s ease;
}
nav a:hover::after{
    width : 105%;
}
#hamburger{
    display : none;
    height : 30px;
    width : 30px;
    border-radius : 50%;
    padding : 4px;
    border : 2px solid white;
    transition : 0.5s ease;
    cursor : pointer;
}
#hamburger:hover{
    border : 2px solid orange;
}
#hamburger img{
    height : 17px;
    width : 17px;
    filter : invert(100%);
    cursor : pointer;
    transition : 0.5s ease;
    border-radius : 50%;
}
#hamburger img:hover{
    filter : invert(80%);
}
.active{
    /* background : hsla(0, 100%, 100%, .8); */
    background : #121212;
}

/* Home Section */

.home{
    background-image : linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('utils/bgimg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position : center;
    background-repeat : no-repeat;
    height : 100vh;
    display : flex;
    align-items : center;
    justify-content : center;
}
.overlay{
    width : 80%;
    color : #fff;
}
.overlayed-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
}
.center-head{
    text-align : center;
}

.heading{
    font-size: 3rem;
    text-align : center;
    font-family: 'Vazirmatn', sans-serif;
    font-family : "Poppins";
    font-weight: bold;
    margin-bottom : 20px;
    letter-spacing : 1.5px;
}
.colored{
    color : white;
}
.typewriting{
    color : black;
    display : inline-block;
    margin : 0 auto;
    position : relative;
    z-index : 10;
    font-size : 3.5rem;
}
.typewriting span{
    display : table-cell;
    animation : animate 5s linear infinite;
}
.typewriting span:nth-child(1){
    animation-delay : 0s;
}
.typewriting span:nth-child(2){
    animation-delay : 0.25s;
}
.typewriting span:nth-child(3){
    animation-delay : 0.5s;
}
.typewriting span:nth-child(4){
    animation-delay : 0.75s;
}
.typewriting span:nth-child(5){
    animation-delay : 1s;
}
.typewriting span:nth-child(6){
    animation-delay : 1.25s;
}
.typewriting span:nth-child(7){
    animation-delay : 1.5s;
}
.typewriting span:nth-child(8){
    animation-delay : 1.75s;
}
.typewriting span:nth-child(9){
    animation-delay : 2s;
}
.typewriting span:nth-child(10){
    animation-delay : 2.25s;
}
.typewriting span:nth-child(11){
    animation-delay : 2.5s;
}
.typewriting span:nth-child(12){
    animation-delay : 2.75s;
}
.typewriting span:nth-child(13){
    animation-delay : 3s;
}
.typewriting span:nth-child(14){
    animation-delay : 3.25s;
}
.typewriting span:nth-child(15){
    animation-delay : 3.5s;
}
.typewriting span:nth-child(16){
    animation-delay : 3.75s;
}
.typewriting span:nth-child(17){
    animation-delay : 4s;
}
.typewriting span:nth-child(18){
    animation-delay : 4.25s;
}
.typewriting span:nth-child(19){
    animation-delay : 4.5s;
}
.typewriting span:nth-child(20){
    animation-delay : 4.5s;
}
.typewriting span:nth-child(21){
    animation-delay : 4.75s;
}

@keyframes animate{
    0%, 100%{
        color : white;
        filter : blur(1px);
        text-shadow:
                    0 0 20px orange,
                    /* 0 0 40px orange,
                    0 0 80px orange,
                    0 0 120px orange, */
                    0 0 200px orange,
                    0 0 400px orange;
    }
    5%, 95%{
        color : orange;
        filter : blur(0px);
        text-shadow : 0 0 10px none;
    }
}
.tagline{
    font-family: 'Lora';
    font-size: 1.5rem;
    color : #fcc419;
    letter-spacing: 2px;
}


/* About us section */
.rest-body{
    background-image: url(utils/aboutbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color : #fff;
    min-height : 100vh;
    padding-top : 10%;
    padding-bottom : 10%;
    display : flex;
    align-items : center;
    justify-content : center;
}
.container{
    display : flex;
    align-items : center;
    justify-content : center;
    flex-direction : column;
    gap : 50px;
    /* color: rgba(226, 226, 226, 0.764); */
    color : #ccc;
    max-width : 70%;
    /* width : 75%; */
}
.about-content, .innowave-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.7;
}
.about-content h1, .innowave-desc h1{
    margin-top: 1.5rem;
    font-size: 2.2rem;
    color: #fcc419;
    letter-spacing : 1.5px;
}
.about-content p{
    word-spacing : 5px;
    font-family : "Poppins";
}
.events-first{
    display: flex;
    justify-content: space-between;
    align-items : center;
    flex-wrap : wrap;
    width: inherit;
    gap : 5px;
}
.event-card{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    max-width : 350px;
    min-height: 500px;
    transition : 0.5s ease;
    cursor : pointer;
}
.event-card:hover{
    transform: scale(1.05);
}
.card-head{
    display: flex;
    align-items: center;
    margin: 3vh;
    gap: 2vw;
}
.card-head img{
    height: 60px;
}
.card-desc{
    font-family: 'Lexend Deca';
    line-height: 1.7;
    text-align: justify;
    font-size: 1.3rem;
    margin: 1vw 2vw;
    word-spacing: 2px;
    color : #fff;
}


/* Innowave section : only button */

.read-btn{
    background-color: transparent;
    border: 1px solid white;
    padding: 15px;
    font-size: 1.2rem;
    color: white;
    display: flex;
    transition: all 0.2s;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}
.read-btn a{
    color: white;
    text-decoration: none;
}
.read-btn:hover{
    transform: scale(1.05);
    background-color: #fcc419;
    color: #121212;;
}


.collab{
    min-height: 35vh;
    max-height: 100vh;
    width: 70vw;
}
table{
    margin-top: 5vh;
    width: inherit;
    
    font-size: 1.5rem;
    font-family: 'Exo 2';
    border: none;
    /* outline: none; */
}
td{
    width: 30vw;
    height: 8vh;
}
input, textarea{
    width: inherit;
    height: 5vh;
    font-size: 1.2rem;
    outline: none;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 5px 2px black,
    0 0px 1px 2px white;
    color: white;
    padding: 1vh 1vw;
    border-radius: 5px;
}
input:focus{
    box-shadow: 0 0 2px 2px orange;
}
textarea:focus{
    box-shadow: 0 0 2px 2px orange;
}
textarea{
    height: calc();
    resize: none;
}
/* Footer Section */

footer{
    /* background-color: rgb(18, 17, 17); */
    background : #121212;
    padding : 20px;
}
.footer-main-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap : 10px;
    /* padding : 10px 10%; */
    /* padding: 5vh;
    height: 35vh; */
}
.footer-item{
    /* border: 2px solid red; */
    /* height: 25vh;
    width: 25vw; */
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: rgba(226, 226, 226, 0.764);
    font-size: 1.05rem;
    /* text-align: justify; */
    font-family: 'Raleway';
    line-height: 1.5;
    align-items: center;

}
/* .footer-content{
    margin: 0 50px;
} */
/* .address{
    line-height: 1.6;
} */
.footer-item h2{
    color: #fcc419;
    /* margin-bottom: 10px; */
    font-family: 'Exo 2';
}
footer ul{
    list-style: none;
}
footer ul li{
    padding : 3px;
}
footer ul li a{
    cursor : pointer;
    text-decoration : none;
    color: rgba(226, 226, 226, 0.764);
    transition : 0.5s ease;
}
footer ul li a:hover{
    color : orange;
}

.footer-copyright{
    color: white;
    text-align: center;
    padding: 10px 0;
}
.footer-copyright span{
    color : orange;
}


@media only screen and (max-width: 1100px){
    .events-first{
        justify-content : center;
    }
    .event-card{
        max-width : 80%;
    }
}

@media only screen and (max-width : 550px){
    .footer-main-content{
        flex-direction : column;
        justify-content : center;
        align-items : flex-start;
        gap : 10px;
        padding : 0 10%;   
    }
    .reach{
        align-self: flex-end;
    }
    .reach h2{
        text-align : right;
    }
    .link h2{
        text-align : left;
    }
    .reach .footer-content ul {
        display : flex;
        align-items : center;
        justify-content : center;
        gap : 10px;
    }
}

@media only screen and (max-width : 900px){
    .typewriting{
        font-size: 2rem;
    }
    .tagline{
        font-size: 1.25rem;
    }
    .colored{
        font-size : 1.75rem;
    }
}
@media only screen and (max-width : 750px){
    
    .about-content h1{
        font-size : 1.5rem;
    }
    .about-content{
        font-size : 1rem;
    }
    .card-desc{
        font-size : 1rem;
    }
    .navbar-items ul{
        position : absolute;
        top : 0;
        left : -100%;
        height : 100vh;
        display : flex;
        justify-content : center;
        align-items : center;
        flex-direction: column;
        background: hsla(0, 0, 100%, 0.2);
        backdrop-filter: blur(24px);
        --webkit-backdrop-filter: blur(24px);
        width : 70vw;
        transition : 0.5s ease;
        text-align : center;
        position : absolute;
    }
    .navbar-items ul li{
        font-size : 1.5rem;
        margin-bottom : 20px;
        text-align : center;
    }
    .navbar-items ul li a{
        color : #eee;
        font-weight : bold;
    }
    #hamburger{
        display : block;
    }
}

@media only screen and (max-width : 425px){
    .overlay{
        width : 100%;
    }
    .container, .event-card{
        max-width : 85%;
    }
    .typewriting{
        font-size : 1.25rem;
    }
    .colored{
        font-size : 1.25rem;
    }
    .tagline{
        font-size: 1rem;
    }
    .footer-item{
        font-size: 0.9rem;
    }
}
